.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.input-label {
  font-size: 14px;
  color: #333;
  text-align: left;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  height: 48px;
  padding: 0 14px;
}

.input-wrapper:focus-within {
  border-color: #4ea679;
  box-shadow: 0 0 0 3px rgba(78, 166, 121, 0.2);
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.input-icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.input-error {
  font-size: 12px;
  color: red;
  margin-top: 4px;
}